# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore the main environment file
.env
.venv

# Ignore environment file variants
.env.local
.env.*.local

# Ignore processed data arrays (too large for LFS quota)
data/processed/**/*.npy
.npy
*.pth
data/raw
data/

# --- DATA MANAGEMENT ---
# We are now using Git LFS for .npy and .json files.
# Do NOT add them back here, or LFS will stop tracking them.